<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2ab6d8b-074e-4595-9234-19a4ef382c5e" Alias="1.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-14T02:17:21</CreateDate>
    <NodeName Default="1.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/astp0rbh/1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>