<?xml version="1.0" encoding="utf-8"?>
<Media Key="87369f92-bc11-4374-ad5a-536c351b805f" Alias="images.jfif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/imagesjfif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-15T01:27:54</CreateDate>
    <NodeName Default="images.jfif" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dvkhamly/images.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>