<?xml version="1.0" encoding="utf-8"?>
<Content Key="185f4450-8262-4ea7-85d3-0810b0519df4" Alias="Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-10-14T02:18:56</CreateDate>
    <NodeName Default="Page">
      <Name Culture="en-US">Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0c74b1c7-7fee-457a-ad10-52067e179522",
      "key": "d6f5ca48-c90c-4f79-8a8e-299d3352feac",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "test"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6b9b73b2-21d2-4218-a7bb-2d6b9db0fc17",
              "mediaKey": "f2ab6d8b-074e-4595-9234-19a4ef382c5e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        }
      ]
    },
    {
      "contentTypeKey": "0c74b1c7-7fee-457a-ad10-52067e179522",
      "key": "0d4c1f70-5e4c-4090-8ff5-ca0b12030975",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "test1"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ef2d5949-be73-433e-aa3b-12833263239f",
              "mediaKey": "f2ab6d8b-074e-4595-9234-19a4ef382c5e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "test2"
        }
      ]
    },
    {
      "contentTypeKey": "0c74b1c7-7fee-457a-ad10-52067e179522",
      "key": "aacc0dd8-64db-41f8-9a8e-33d11d465955",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "tttttt"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f8a7ebde-43c1-4ccb-b16f-ee687cf467c1",
              "mediaKey": "87369f92-bc11-4374-ad5a-536c351b805f",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ggggggggggg"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d6f5ca48-c90c-4f79-8a8e-299d3352feac",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0d4c1f70-5e4c-4090-8ff5-ca0b12030975",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aacc0dd8-64db-41f8-9a8e-33d11d465955",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d6f5ca48-c90c-4f79-8a8e-299d3352feac",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0d4c1f70-5e4c-4090-8ff5-ca0b12030975",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "aacc0dd8-64db-41f8-9a8e-33d11d465955",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>