<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d4e2a73-e554-4026-aa43-e41f1a41f2f1" Alias="Content Blocks" Level="1">
  <Info>
    <Name>Content Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0c74b1c7-7fee-457a-ad10-52067e179522",
      "label": "Content Blocks"
    }
  ]
}]]></Config>
</DataType>